body
{
    background-image: url(hola4.jpeg);/* Color de fondo claro para toda la página */
    display: flex; /* Usamos Flexbox para centrar el contenido */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana del navegador */
    margin: 0; /* Elimina márgenes por defecto del navegador */
    font-family: Arial, sans-serif; /* Fuente que se usará en los textos */
    flex-direction: column;
    /* background-color: #ff0000; */
}

.login-box {
    background-color: rgb(153, 126, 126); /* Fondo blanco para la caja del login */
    padding: 30px; /* Espaciado interno de la caja */
    border: 2px solid #ff0000; /* Borde oscuro y notorio */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave alrededor de la caja */
    width: 300px; /* Ancho fijo de la caja */
  }
  
  .login-box h2 {
    text-align: center; /* Centra el título dentro de la caja */
    margin-bottom: 20px; /* Espacio inferior entre el título y el formulario */
    color: white;
  }
  
  .login-box label {
    display: block; /* Hace que la etiqueta ocupe toda la línea */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
  }
  
  .login-box input[type="email"],
  .login-box input[type="password"] {
    width: 100%; /* El campo ocupa todo el ancho de la caja */
    padding: 10px; /* Espaciado interno del campo */
    margin-bottom: 15px; /* Espacio inferior entre campos */
    border: 1px solid #aaa; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados en los campos */
  }
  
  .login-box input[type="submit"] {
    width: 100%; /* Botón ocupa todo el ancho */
    background-color: #1d1616; /* Fondo oscuro para el botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* El mouse se transforma en mano al pasar por encima */
  }
  
  .login-box input[type="submit"]:hover {
    background-color: #555; /* Color más claro al pasar el mouse (hover) */
  }
  

  .titulo {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
  }