<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink></li>
        <li><NavLink href="/contador">Contador</NavLink></li>
        <li><NavLink href="/input">Inputs</NavLink></li>
    </ul>

    <nav>
    <ul>
        <li><NavLink href="/">Inicio</NavLink></li>
        <li><NavLink href="/usuarios">Usuarios</NavLink></li>
    </ul>
</nav>

</nav>