@page "/"
@namespace WebBase.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Netflix</title>
    <link rel = "stylesheet" href="css/style.css">
    <base href="~/" />
    @* <link href="css/menu.css" rel="stylesheet" /> *@
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    <footer>
        <p>&copy; 2025 Mi Biblioteca. Todos los derechos reservados.</p>
    </footer>
</body>
</html>