@page "/"   
    
<h1>Bienvenido a Blazor</h1>    
    
<p>Esta es la página de inicio servida dinámicamente con Razor (.razor).</p>

<p>Esta es la fecha actual: @DateTime.Now</p>

<p>Podés visitar el <a href="/contador">contador interactivo</a>.</p>